<% layout('layouts/boilerplate') %>
    <h1 class="text-center">All Homework</h1>
    <div>
        <a href="/homework/new">Add New homework</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">_id</th>
                <th scope="col">Homework Subject Line</th>
                <th scope="col">Homework URL</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <% for (let hw of homework) { %>
            <tr>
                <td scope="row"><%=hw._id%></td>
                <td><%=hw.subjectLine%></td>
                <td><%=hw.url%></td>
                <td><a class="btn btn-primary" href="/homework/<%=hw._id%>">Details</a></td>
            </tr>
            <% } %>
        </tbody>
    </table>