<% layout('layouts/teacher-boilerplate') %>
    <div class="row">
        <div class="card shadow">
            <div class="card-body">
<<<<<<< HEAD
                <div class="row">
                    <div class="col-2 mt-2">
                        <a href="/homework/" class="btn btn-dark font-weight-bold mb-1"><i class="fas fa-chevron-left"></i></a>
                    </div>
                    <h1 class="col-8 text-center mt-4">New Homework</h1>
                    <div class="col-2"></div>
                </div>
=======
                <h1 class="text-center">New Homework</h1>
>>>>>>> parent of 62ebe9e (Merge branch 'main' of https://github.com/JacobBenge/LibertyEducation into main)
                <form action="/homework/" method="POST" novalidate class="validated-form">
                    <div class="row">
                        <!-- FIRST COLUMN -->
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="subjectLine">Subject Line</label>
                                        <input class="form-control" type="text" placeholder="Subject Line"
                                            id="subjectLine" name="homework[subjectLine]" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="url">URL</label>
                                        <input class="form-control" type="text" placeholder="URL" id="url"
                                            name="homework[url]" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3 mt-3 text-center">
                                    <button class="btn btn-lg btn-success"><i class="fas fa-clipboard-check"></i> Add Homework</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
<<<<<<< HEAD
                <p class="text-center"><a href="/homework" class="mb-3 btn btn-lg btn-danger"><i class="fas fa-times"></i> Cancel</a></p>
=======
                <a href="/homework/">Back to all homework</a>
>>>>>>> parent of 62ebe9e (Merge branch 'main' of https://github.com/JacobBenge/LibertyEducation into main)
            </div>
        </div>
    </div>