<% layout('layouts/default-boilerplate') %>
<link rel="stylesheet" href="/styles/register.css">
    <div class="container d-flex justify-content-center align-items-center mt-3">
        <div class="row">
            <div class="card shadow mb-5">
                <img src="/img/LibertyLogo400px.png" class="card-img-top logo" alt="Logo">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="registrationCode">Registration Code</label>
                            <input class="form-control" type="text" id="registrationCode" name="userRegistrationCode" placeholder="see emailed code"autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" placeholder="name@domain.com" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" placeholder="username" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <!-- Password strength checker https://jsbin.com/malopev/edit?html,js,output https://www.kurmis.com/2019/11/01/password-strength-javascript.html -->
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" placeholder="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="confirm_password">Confirm Password</label>
                            <input class="form-control mb-1" type="password" id="confirm_password" name="confirm_password" placeholder="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <span id="message"></span><!--DISPLAYS NOT MATCHING OR MATCHING-->
                        </div>
                        <hr>
                        <div class="mb-3">
                            <!-- https://www.youtube.com/watch?v=z_R13WXXovw video on styling of progress bar -->
                            <!-- <progress id="strength" value="0" max="4"></progress> -->
                            <p>Password Strength Requirements:</p>
                            <hr>
                            <ul>
                                <li class="length pw-unmet pw-confirm-unmet">At least 8 characters long.</li>
                                <li class="lower pw-unmet pw-confirm-unmet">Contains a lowercase letter.</li>
                                <li class="upper pw-unmet pw-confirm-unmet">Contains an uppercase letter.</li>
                                <li class="number pw-unmet pw-confirm-unmet">Contains a number.</li>
                                <li class="special pw-unmet pw-confirm-unmet">Contains a special character.</li>
                                <li class="bonus pw-unmet pw-confirm-unmet">Even better if longer than 12 characters</li>
                            </ul>
                        </div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-success register" disabled>Register</button>
                        </div>
                        <div class="d-grid mb-3">
                            <a href="/login" class="btn btn-dark">Login Instead</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/register.js"></script>
