<% layout('layouts/teacher-boilerplate') %>
    <div class="row">
        <div class="card shadow mb-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 mt-2">
                        <a href="/settings/" class="btn btn-dark font-weight-bold mb-1"><i class="fas fa-chevron-left"></i></a>
                    </div>
                    <h1 class="text-center col-8 mt-4">Edit Site Settings</h1>
                    <div class="col-2 mt-4">
                    </div>
                </div>
                <form action="/settings/edit?_method=PUT" method="POST" novalidate class="validated-form">
                    <div class="row">
                        <h2 class="mt-4 form-subtitle">Contact Info</h2>
                        <hr>
                        <div class="mb-3 col-sm-4">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="text" placeholder="email"
                                id="email" name="settings[email]" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-4">
                            <label class="form-label" for="phone">Phone</label>
                            <input class="form-control" type="text" placeholder="(805) 791-9139"
                                id="phone" name="settings[phone]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-4">
                            <label class="form-label" for="hours">Business Hours</label>
                            <input class="form-control" type="text" placeholder="8-3 p.m. M-F"
                             id="hours" name="settings[hours]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="address">Address Label</label>
                            <input class="form-control" type="text" placeholder="123 Sesame St. New York, NY 84000"
                             id="address" name="settings[address]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="addressURL">Address URL</label>
                            <input class="form-control" type="text" placeholder="https://goo.gl/maps/..."
                             id="addressURL" name="settings[addressURL]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="fbook">Facebook Label</label>
                            <input class="form-control" type="text" placeholder="facebook.com/..."
                             id="fbook" name="settings[fbook]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="fbookURL">Facebook URL</label>
                            <input class="form-control" type="text" placeholder="https://www.facebook.com/..."
                             id="fbookURL" name="settings[fbookURL]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="pay">Payments Label</label>
                            <input class="form-control" type="text" placeholder="Venmo"
                             id="pay" name="settings[pay]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="payURL">Payments URL</label>
                            <input class="form-control" type="text" placeholder="@libertyeducation"
                             id="pay" name="settings[payURL]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <p class="text-muted">*To disable a link, enter # for the URL. When the user clicks on the link, it wont take them anywhere.</p>
                    <div class="row">
                        <h2 class="mt-4 form-subtitle">Quick Links</h2>
                        <hr>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="qLink1">Link 1 Label</label>
                            <input class="form-control" type="text" placeholder="Family Handbook"
                             id="qLink1" name="settings[qLink1]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="qLink1URL">Link 1 URL</label>
                            <input class="form-control" type="text" placeholder="https://drive.google.com/..."
                             id="qLink1URL" name="settings[qLink1URL]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="qLink2">Link 2 Label</label>
                            <input class="form-control" type="text" placeholder="Enrollment Form"
                             id="qLink2" name="settings[qLink2]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="qLink2URL">Link 2 URL</label>
                            <input class="form-control" type="text" placeholder="https://docs.google.com/forms/..."
                             id="qLink2URL" name="settings[qLink2URL]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="qLink3">Link 3 Label</label>
                            <input class="form-control" type="text" placeholder="Enrollment Form"
                             id="qLink3" name="settings[qLink3]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="qLink3URL">Link 3 URL</label>
                            <input class="form-control" type="text" placeholder="https://docs.google.com/forms/..."
                             id="qLink3URL" name="settings[qLink3URL]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3 mt-5 text-center">
                        <button class="btn btn-success"><i class="fas fa-check-circle"></i> Update Settings</button>
                    </div> 
                </form>
                <div class="row">
                    <p class="text-end"><a href="/settings" class="mt-5 btn btn-danger"><i class="fas fa-times"></i> Cancel</a></p>
                </div>
            </div>
        </div>
    </div>