<!--THIS NAVBAR IS BOOTSTRAP 5. CHANGES ON THIS PAGE UPDATES TO ALL-->
<!-- <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy LibertyEducation 2021</span>
    </div>
</footer> -->
<!-- Inspired by https://mdbootstrap.com/docs/standard/navigation/footer/ -->
<footer class="footer mt-auto bg-dark text-center text-lg-start">>
    <div class="container p-2">
        <div class="row text-light">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/home" class="">Home</a>
                    </li>
                    <li>
                        <a href="/aboutus" class="">About Us</a>
                    </li>
                    <li>
                        <a href="#!" class="">Link</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Contact Us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:insert@email.com" class="">Email</a>
                    </li>
                    <li>
                        <a href="tel:801-777-7777" class="">Phone</a>
                    </li>
                    <li>
                        <a href="#!" class="">Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <span class="text-light">&copy LibertyEducation 2021</span>
    </div>
</footer>