<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liberty Education</title>
    <!--FUTURE PROOFED BY INCLUDING BOOTSTRAP FILES IN PUBLIC DIRECTORY-->
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/teacher-navbar') %>
        <main class="container mt-5">
            <%- include('../partials/flash.ejs') %>
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
            <script src="/scripts/popper.min.js"></script> <!--FUTURE PROOFED BY INCLUDING BOOTSTRAP FILES IN PUBLIC DIRECTORY-->
            <script src="/scripts/bootstrap.min.js"></script> <!--FUTURE PROOFED BY INCLUDING BOOTSTRAP FILES IN PUBLIC DIRECTORY-->
            <script src="/scripts/validateForms.js"></script>
</body>

</html>