<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Liberty Education</title>
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/home.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/styles/all.min.css">
    <!-- Favicon  https://favicon.io/favicon-generator/-->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <!--Page styling inspired by https://getbootstrap.com/docs/4.0/examples/cover/  -->
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Liberty Education</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
                    <a class="nav-link active" aria-current="page" href="/courses">Courses</a>
                    <a class="nav-link" href="/aboutus">About Us</a>
                    <a class="nav-link" href="/contact">Contact Us</a>

                    <% if(currentUser) { %>
                        <a class="nav-link" href="/sportal">Student Portal</a>
                        <a class="nav-link" href="/tportal">Teacher Portal</a>
                        <% } %>
                            <span class="nav-link"> | </span>
                            <% if(!currentUser) { %>
                                <a class="nav-link" href="/login">Login</a>
                                <a class="nav-link" href="/register">Register</a>
                                <% } else { %>
                                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <div class="row">
                <h1 class="mb-4"><strong>Courses</strong></h1>
                <p class="lead text-start"><strong><i class="fas fa-palette"></i> ART</strong><br> Students will learn drawing and painting techniques from a professional
                    artist, Dan Haring. You
                    will learn how to look at objects in order to draw them more accurately and learn to tap into our
                    creative side to find a style that fits each of you.<br><br>

                    <strong><i class="fas fa-flask"></i> SCIENCE</strong><br>Using Project Based Learning, we will explore various concepts including chemical
                    reactions, magnetism, toad life cycles and the properties of water, and more!<br><br>

                    <strong><i class="fas fa-landmark"></i> SOCIAL STUDIES</strong><br>This year we will be covering Ancient History, Government, and memorizing the states
                    and their capitals.<br><br>

                    <strong><i class="fas fa-calculator"></i> MATH</strong><br>Using various curriculum, and based on an assessment, your child will receive a workbook and
                    get one-on-one instruction and tutoring.<br><br>

                    <strong><i class="fas fa-book"></i> ENGLISH</strong><br>Students will get their own workbook based on an assessment and will receive one-on-one
                    instruction and tutoring.<br><br>

                    <strong><i class="fas fa-running"></i> PE WELLNESS</strong><br>We will be going outside every day, learning different games and skills, including yoga
                    and meditation.</p>
            </div>
        </main>
        <footer class="mt-auto text-white-50">
            <%- include('./partials/flash.ejs') %>
                <p>&copy; 2021 LibertyLaunchGroup</p>
        </footer>
    </div>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
</body>

</html>