<% layout('layouts/teacher-boilerplate') %>
<h1>Teacher Portal</h1>
<a href="/students" class="btn btn-lg btn-secondary font-weight-bold">Students</a>
<a href="/homework" class="btn btn-lg btn-secondary font-weight-bold">Homework</a>