<% layout('layouts/teacher-boilerplate') %>
    <div class="row">
        <div class="card shadow mb-5">
            <div class="card-body">
                <h1>Teacher Portal</h1><br>
                <a href="/students" class="btn btn-lg btn-secondary font-weight-bold">Students</a><br><br>
                <a href="/homework" class="btn btn-lg btn-secondary font-weight-bold">Homework</a>
            </div>
        </div>
    </div>