<% layout('layouts/teacher-boilerplate') %>
    <div class="row">
        <div class="card shadow mb-5">
            <div class="card-body container">
                <div class="row">
                    <div class="col-2 mt-2">
                        <a href="/" class="btn btn-dark font-weight-bold mb-1"><i class="fas fa-home"></i></a>
                    </div>
                    <h1 class="text-center mt-4 col-8">Teacher Portal</h1>
                    <div class="col-2 mt-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-4 p-4">
                        <div class="card card2">
                            <!-- https://www.iconfinder.com/ -->
                            <!-- http://www.gnu.org/licenses/gpl-3.0.html -->
                            <a href="/students"><img src="/img/iconfinder_humans_1216581.png" alt="Students"
                                    class="card-img-top pt-5 px-5"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">Students</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 p-4">
                        <div class="card card2">
                            <!-- https://www.iconfinder.com/ -->
                            <!-- http://www.gnu.org/licenses/gpl-3.0.html -->
                            <a href="/homework"><img src="/img/iconfinder_pencil_1055013.png" alt="Pencil"
                                    class="card-img-top pt-5 px-5"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">Homework</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 p-4">
                        <div class="card card2">
                            <!-- https://www.iconfinder.com/ -->
                            <!-- http://www.gnu.org/licenses/gpl-3.0.html -->
                            <a href="#" onclick="return confirm('This is still under development')"><img src="/img/iconfinder_Settings-2_379349.png"
                                    alt="Settings" class="card-img-top pt-5 px-5"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">Site Settings</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>