<% layout('layouts/teacher-boilerplate') %>
    <div class="row">
        <div class="card shadow mb-5">
            <div class="card-body">
                <h1>Teacher Portal</h1><br>
                <p>Welcome to the Teacher Portal.</p>
                <p>How to begin:</p>
                <ol>
                    <li>Go to <a href="/students">Students</a> and click the <a href="/students/new">Add New Student</a> button. Fill out the form and push the Add Student button.</li>
                    <li>You'll be redirected to the new student's profile page. You can edit or delete the student with this page.</li>
                    <li>Scroll down to the bottom of the student's profile and you'll see a form to add notes. This is a great place to keep track of your progress with the student. Add a test note.</li>
                    <li>After adding a note, you'll get a success message and the note will load at the bottom of the page. Notes are sorted by newest to oldest.</li>
                    <li>To search your notes, we recommend using the Control+F (Command+F for Mac) hotkey.</li>
                    <li>You can also delete individual notes.</li>
                    <li>Use the Navigation bar to navigate to Students. Here you can see a list of your students and access their profiles with the Details button.</li>
                    <li>To add homework assignments,.....</li>
                </ol>
                <a href="/students" class="btn btn-primary font-weight-bold">Students</a>
                <a href="/homework" class="btn btn-secondary font-weight-bold">Homework</a>
                
            </div>
        </div>
    </div>