<% layout('layouts/student-boilerplate') %>
<h1>Student portal</h1>
<a href="/sportal/profile" class="btn btn-lg btn-secondary font-weight-bold">My Profile</a>
<a href="/sportal/homework" class="btn btn-lg btn-secondary font-weight-bold">My Homework</a>
