<% layout('layouts/student-boilerplate') %>
<h1>Student portal</h1>
<a href="/sportal/profile" class="btn btn-lg btn-primary font-weight-bold">My Profile</a>
<a href="/sportal/homework" class="btn btn-lg btn-primary font-weight-bold">My Homework</a>
<a href="<%=student.mathURL%>" class="btn btn-lg btn-info font-weight-bold">Math</a>
<a href="<%=student.languageArtsURL%>" class="btn btn-lg btn-warning font-weight-bold">Language Arts</a>
<a href="<%=student.SpanishURL%>" class="btn btn-lg btn-danger font-weight-bold">Spanish</a>
<a href="<%=student.codingURL%>" class="btn btn-lg btn-secondary font-weight-bold">Coding</a>



