hr {
    color: white;
    border: 0;
    height: 5px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

.form-subtitle {
    display: block;
    margin-left: 2.5%;
    opacity: 0.75;
}

body {
    background-color:whitesmoke;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}
